body{
    color:#f3ebeb;
    background-color: aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.signup-form{
    width:390px;
    margin:0 auto;
    padding:30px 0px;
    
    
    color:#999;
    border-radius: 3px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    padding:30px;
    padding-top: 473px;    
}
.form-control{
    box-shadow: none;
    border-color:#e1e1e1;
    margin-top: 10px;
}
.form-control:focus{
    border-color:#00cb82;
}
.form-control,.btn{
    border-radius: 3px;
    
}
.form-header{
    margin:-30pc -30px 20px;
    padding:30px 30px 10px;
    text-align: center;
    background-color: #00cb82;
    border-bottom:1px solid #eee;
    color:#fff;
}
.form-header h2{
  font-size: 34px;
  font-weight: bold;
  margin:0 0 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form-header p{
    margin: 20px 0 15px;
    font-size: 17px;
    line-height: normal;
    font-family: 'Courier New', Courier, monospace;
}


.signup-form .form-group{
  margin-bottom: 20px;
}
.signup.form input[type="checkbox"]{
    margin-top: 2px;
}
.signin-form label{
    font-weight: normal;
    font-size: 13px;
}
.signup-form .btn{
    font-size: 16px;
    font-weight: bold;
    background-color: #00cb82;
    border:none;
    min-width: 200px;
}
.signup-form .btn:hover, .signin-form .btn:focus{
    background-color: #00b072 !important;
    outline: none;
}
.signup-form a{
    color: #00cb82;
}
.signup-form a:hover{
    text-decoration: underline;
}